<!DOCTYPE html>
<html>
    <head>     
        <meta charset="utf-8" />
        <title>Synchro</title>
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css'/>            
        <link href="/images/favicon-32x32.png" rel="shortcut icon"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
        {{{block "pageStyles"}}}

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {{{block "pageScripts"}}}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            {{#if session.userid}}
            ga('create', 'UA-62082932-1', 'auto', { 'userId': '{{session.userid}}' });
            {{else}}
            ga('create', 'UA-62082932-1', 'auto');
            {{/if}}
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        {{> header}}
        {{{body}}}
        <div class="container">
            <hr />
            <footer>
                <table>
                    <tr>
                        {{#if noNav}}
                        {{else}}
                        <td width="99%"><a href="about">About Us</a> - <a href="privacy">Privacy</a></td>
                        {{/if}}
                        <td style="white-space: nowrap">&copy; Synchro Labs, Inc. 2015</td>
                    </tr>
                </table>
            </footer>
        </div>
</body>
</html>